* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  line-height: 1.5;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
  display: block;
}

a {
  color: #0367d8;
  text-decoration: none;
}

button, input, select, textarea {
  font-family: inherit;
  line-height: inherit;
}

svg:not(:root) {
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  background: #fff;
  min-height: 100vh;
}

.octicon {
  display: inline-block;
  fill: currentColor;
}

.octicon-middle {
  vertical-align: middle;
}

.octicon-text-bottom {
  vertical-align: text-bottom;
}

.container {
  max-width: 1280px;
}

.page-header {
  background: #24292E;
  padding: 1.075em 1.15em 1.075em 2.25em;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.page-header__link {
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}

.page-header__link:hover, .page-header__link:focus {
  color: inherit;
}

.page-header__search {
  position: relative;
  min-width: 272px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transition-property: max-width, padding-bottom, padding-top;
  transition-property: max-width, padding-bottom, padding-top;
  margin-right: 16.5px;
}

.page-header__search-form {
  display: block;
}

.page-header__search-form label {
  min-height: 28px;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  background-color: #24292e;
  font-weight: 400;
  position: relative;
  line-height: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #444d56;
  border-radius: 6px;
  background-repeat: no-repeat;
  outline: none;
  background-position: right 0.5rem center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-header__search-form label:focus-within {
  outline: inherit;
}

.page-header__search-input {
  min-height: inherit;
  color: inherit;
  width: 100%;
  background: none;
  border: 0;
  display: table-cell;
  font-size: inherit;
  line-height: inherit;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  padding: 5px 12.5px;
}

.page-header__search-input::-webkit-input-placeholder {
  color: inherit;
}

.page-header__search-input::-moz-placeholder {
  color: inherit;
}

.page-header__search-input:-ms-input-placeholder {
  color: inherit;
}

.page-header__search-input::-ms-input-placeholder {
  color: inherit;
}

.page-header__search-input::placeholder {
  color: inherit;
}

.page-header__search-input:focus {
  outline: none;
}

.page-header__search-slash {
  margin-right: 8px;
  border-style: none;
}

.page-header__nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: auto;
      align-self: auto;
}

.item-full {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.btn-link {
  display: inline-block;
  background-color: initial;
  font-size: inherit;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.details-reset > summary {
  list-style: none;
}

.details-reset > summary::-webkit-details-marker {
  display: none;
}

details summary {
  cursor: pointer;
  display: list-item;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
}

.profile-avatar {
  border-radius: 50%;
  border-style: none;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
}

@media only screen and (min-width: 600px) {
  .item-show-mobile {
    display: none;
  }
  .nav-link {
    margin-right: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .page-header {
    padding-left: 1.7em;
    padding-right: 0.6em;
  }
  .inline-elem {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .page-header {
    padding: 1.15em 0.2em 1.15em 1.15em;
    position: relative;
  }
  .page-header__search {
    margin-right: 0;
    margin-bottom: 16px;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .page-header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
  .nav-link {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 8px 0;
  }
  .inline-elem {
    display: inline;
  }
  .item-collapse-mobile {
    display: none;
  }
  .item-full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    background: inherit;
    width: 100%;
    left: 0;
    padding: 0 16px 16px 16px;
  }
  #logout-btn {
    padding-left: 2px;
    width: 100%;
    text-align: left;
  }
  #notification-bar {
    -webkit-box-ordinal-group: 3;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #github-logo {
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  margin: 0 auto;
}

.page-footer__content {
  font-size: 12px;
  width: 100%;
  color: #586069;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 49px;
  margin-top: 40px;
  border-top: 1px solid #eaecef;
}

.page-footer__octicon {
  color: #d1d5da;
  margin-right: 24px;
}

.page-footer__octicon:hover {
  color: #6a737d;
}

.page-footer__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.page-footer__list li {
  list-style: none;
}

.page-footer__list a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1012px) {
  .page-footer {
    padding-right: 40px;
    padding-left: 40px;
  }
  .page-footer__octicon {
    display: none;
  }
  .page-footer__list {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 8px;
  }
  .page-footer__list li {
    margin-right: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .page-footer {
    padding-right: 16px;
    padding-left: 16px;
  }
}
